.cat-breed-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2em;

}
.cat-card {
    flex: 1 1 300px;
    margin: 1em;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}
.cat-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
.cat-card h1,
.cat-card h2,
.cat-card h3,
.cat-card h4,{
    margin: 0.5em 0;
}
